* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background: lightgray;
  border: 4px solid transparent;
  border-radius: 8px;
  background-clip: content-box;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
button:hover {
  background-color: rgba(211, 211, 211, 0.5);
}
button:active {
  background-color: lightgray;
}

.full-container {
  position: relative;
  margin: 12px auto;
  width: 400px;
}

.menu-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 12px;
}

.menu-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menu-list button {
  height: 42px;
  width: 42px;
  padding: 4px;
}

.search-field {
  display: flex;
  flex-direction: row;
  background-color: rgba(211, 211, 211, 0.3);
  height: 32px;
  width: 100%;
}
.search-field input {
  outline: none;
  border: none;
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  flex-grow: 1;
  padding: 4px;
  text-indent: 8px;
}
.search-field button {
  width: 32px;
  height: 32px;
}

.memo-list-container .memo-list {
  display: flex;
  flex-direction: column-reverse;
  gap: 12px;
}
.memo-list-container .memo-list .memo-item {
  background-color: #fff7d1;
  width: 100%;
  font-size: 14px;
  padding: 12px;
  transition: all 0.2 cubic-bezier(0.075, 0.82, 0.165, 1);
}
.memo-list-container .memo-list .memo-item p.updated-date {
  text-align: end;
  font-size: 8px;
  pointer-events: none;
}
.memo-list-container .memo-list .memo-item .memo-content {
  font-size: 14px;
  max-height: calc(5em + 8px + 12px + 2px);
  overflow: hidden;
  pointer-events: none;
}
.memo-list-container .memo-list .memo-item:hover {
  filter: brightness(95%);
}
.memo-list-container .memo-list .memo-item.no-item {
  border: 1px solid lightgray;
  background-color: rgba(211, 211, 211, 0.3);
}
.memo-list-container .memo-list .memo-item.no-item p {
  text-align: center;
}

span.size-24 {
  font-size: 24px;
  font-variation-settings: "OPSZ" 24;
}

span.size-32 {
  font-size: 32px;
  font-variation-settings: "OPSZ" 32;
}

span.size-40 {
  font-size: 40px;
  font-variation-settings: "OPSZ" 40;
}

span.size-48 {
  font-size: 48px;
  font-variation-settings: "OPSZ" 48;
}

div#modal-container {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 0.9);
  z-index: 1;
  scroll-behavior: none;
  overflow: hidden;
}
div#modal-container div.close-field {
  position: absolute;
  top: 12px;
  right: 12px;
}
div#modal-container .content-section {
  width: 400px;
  max-width: 400px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
  -webkit-animation: fadeIn 0.2s forwards;
          animation: fadeIn 0.2s forwards;
}
div#modal-container .content-section .memo-item {
  background-color: #fff7d1;
  width: 100%;
  font-size: 14px;
  padding: 12px;
}
div#modal-container .content-section .memo-item textarea {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  resize: none;
}
div#modal-container.opened {
  display: flex;
  position: fixed;
}

div#popup-menu {
  display: none;
  background-color: aliceblue;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  width: 100px;
  padding: 5px 0;
  box-shadow: 0 0 14px 2px rgba(0, 0, 0, 0.1);
  -webkit-animation: fadeIn 0.2s forwards;
          animation: fadeIn 0.2s forwards;
}
div#popup-menu .popup-content {
  display: flex;
  flex-direction: column;
}
div#popup-menu .popup-content button {
  font-weight: bolder;
  font-size: 14px;
  height: 32px;
}
div#popup-menu.show {
  display: block;
  position: absolute;
}

@-webkit-keyframes fadeIn {
  from {
    transform: scale(1.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    transform: scale(1.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes itemShow {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes itemShow {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes itemHide {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes itemHide {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}
#test-div {
  display: block;
  width: 100px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
}
#test-div ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: height 0.1s linear;
}
#test-div li {
  display: block;
  background-color: lightcoral;
  padding: 12px;
  width: 100%;
  -webkit-animation: itemShow 0.2s forwards;
          animation: itemShow 0.2s forwards;
}
#test-div li.hide {
  -webkit-animation: itemHide 0.2s forwards;
          animation: itemHide 0.2s forwards;
}